/* Desktop */
body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background color: pink;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  background: #154360;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #6e2c00 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  color: #e5b92f;
  font-weight: bold;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('phone.png');
}

.contact-info li.email a {
  background-image: url('mail.png');
}
.contact-info li.linkedin a {
  background-image: url('facebook.png');
}
.contact-info li.gitHub a {
  background-image: url('GitHub-Mark.png');
}
#showcase {
  min-height: 400px;
  background: pink;
  text-align: center;
  color: black;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

footer {
  padding: 20px;
  margin-top: 100px;
  color: #000000;
  background: #d4e6f1;
  text-align: center;
}
